target
*.iml
*.ipr
*.iws
.classpath
.idea
*.tld
stacktrace.log
solr/enterprise/data/index/
out/
cobertura.ser
*.DS_Store
mycroft-dev-db.h2.db
mycroft-dev-db.lock.db
derby.log
web-app/WEB-INF/lib/
web-app/WEB-INF/web.xml
web-app/logs/
web-app/repositories/
.project
.settings
*.iws
grails-app/conf/mycroft-config.groovy
*.ser
CodeNarcReport.html
out/
web-app/orders/*
web-app/images/profile/*
web-app/images/userUploads/*
web-app/images/product/*
solr/vin/data/*
derby.log
web-app/WEB-INF/lib/
web-app/WEB-INF/web.xml
web-app/logs/
web-app/repositories/
web-app/templates/samples-controls/
web-app/templates/samples-media/
web-app/templates/dms/
web-app/tmp/
web-app/cache/
