#langingLeftPanel {
    float: left;
    width: 636px;
}

#langingRightPanel {
    width: 316px;
    float: right;

}

.LandingPageHeading {
    color: #050754;
    font-size: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, Arial Rounded MT Bold;
    position: absolute;
    top: 120px;
    padding: 20px;
    z-index: 10;
    width: 550px;
    font-size: 20px;
    font-weight: bold;
}

.blogHeading {
    background: url(../images/blog-heading.png) no-repeat 0 0 !important;
    width: 316px;
    height: 37px;
    clear: both;
    font-size: 22px !important;
    text-transform: uppercase;
    color: #fff !important;
    padding-left: 15px !important;
}

#contactFields {
    background: url(../images/close-contact-bottom.png) no-repeat 0 bottom;
    font-size: 11px;
    width: 304px;
    margin: auto;
    padding-bottom: 32px;

}

#contactFields ul {
    background: url(../images/contact-bg.png);
    font-size: 11px;
    padding: 10px;
    width: 282px;
    margin: auto;
    margin-top: -5px;
    border-left: 1px solid #b7bec4;
    border-right: 1px solid #b7bec4;
}

#contactFields ul li {
    clear: both;
    padding: 10px 0;
    list-style: none;
}

#contactFields ul li span.label {
    float: left;
    width: 63px;
    line-height: 28px;
    color: #222;
    font-size: 11px;
}

#contactFields ul li span.fields {
    float: left;
    width: 217px;
}

#contactFields ul li.take {
    background: #ed942c;
    padding: 5px 7px;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
}

.textboxArea {
    border: 2px solid #bfbfbf;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 5px 7px;
    width: 205px;
}

.contactMeBtn {
    background: url("../images/contact-me.png") no-repeat 0 0;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    width: 184px;
    height: 29px;
}

.textboxField {
    background: url("../images/inputField.png") no-repeat 0 0;
    border: none;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 5px 7px;
    width: 207px;
}

.mainHeading {
    background: url(../images/top-close-main.png) no-repeat 0 0 !important;
    width: 642px;
    height: 37px;
    line-height: 30px;
    clear: both;
    font-size: 20px !important;
    text-transform: uppercase;
    color: #fff !important;
    padding-left: 15px !important;
    margin-top: 10px;
}

.subHeading {
    background: url(../images/sub-heading.png) repeat-x 0 0 !important;
    height: 20px;
    line-height: 20px;
    clear: both;
    font-size: 14px !important;
    color: #fff !important;
    padding-left: 15px !important;
    margin-top: 6px;
}

.headingSmall {
    background: url(../images/heading-bg.png) no-repeat 0 0 !important;
    height: 37px;
    line-height: 30px;
    clear: both;
    font-size: 18px !important;
    color: #fff !important;
    padding-left: 18px !important;
    width: 300px;
    text-transform: uppercase;
}

.emodal {
    background: url(../images/close-small.png) no-repeat center bottom;
    font-size: 11px;
    width: 304px;
    margin: auto;
    padding-bottom: 27px
}

.emodal ul {
    background: #eaeaea;
    font-size: 11px;
    padding: 10px;
    width: 282px;
    height: 324px;
    margin-top: -5px;
    padding-bottom: 0;
    border-left: 1px solid #bfbfc1;
    border-right: 1px solid #bfbfc1
}

#treeBloks ul li ul li {
    float: none;
    width: 280px;
    padding: 5px 0;
    font-size: 13px;
    line-height: 20px;
    background: url(../images/divider.png) no-repeat center bottom;
}

#treeBloks ul li ul li p {
    background: url("../images/dot-black.png") no-repeat 0 8px;
    margin: 0;
    padding-left: 15px;
}

#treeBloks ul li ul li a {
    text-decoration: none;
    color: #666;
}

#ourTeam {
    background: url(../images/bottom-close-main.png) no-repeat center bottom;
    font-size: 11px;
    width: 642px;
    margin: auto;
    padding-bottom: 12px;

}

#ourTeam ul {
    background: #e4e4e4;
    font-size: 11px;
    padding: 10px;
    width: 608px;
    margin: auto;
    margin-top: -5px;
    border-left: 1px solid #bfbfc1;
    border-right: 1px solid #bfbfc1;
}

#ourTeam ul li {
    color: #040404;
    font-size: 13px;
}

#ourTeam ul li span {
    color: #000;
    display: block;
    line-height: 25px;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    background: url(../images/orange-arrow.gif) no-repeat 0 center;
}

#ourTeam ul li.teamWorks ul {
    background: none;
    width: auto;
    border: none;
}

#ourTeam ul li.teamWorks ul li {
    background: url("../images/dot-black.png") no-repeat 0 6px;
    float: left;
    width: 277px;
    line-height: 18px;
    padding-left: 16px;
    text-decoration: none;
}

#ourTeam ul li.teamWorks ul li a {
    color: #030303;
    background: url(../images/arrow-gray.png) no-repeat 0 center !important;
    padding-left: 23px;
}

#treeBloks {
    clear: both;
    margin-top: 10px;
}

.clientName {
    color: #3f66ab;
    font-size: 11px;
    clear: both;
    text-align: right;
    display: block;
}

#treeBloks ul li {
    width: 322px;
    float: left;
}

/*SMALLL*/

#smallContactBox {
    float: right;
    width: 222px;
    background: url(../images/newtopHeader-bg.png) no-repeat 0 0 !important;

}

#smallContactBox .contactHeading {
    background: none;
    height: 37px;
    clear: both;
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff !important;
    text-align: center;
}

#smallContactBox .contactFields {
    background: url(../images/newbottom.png) no-repeat center bottom;
    font-size: 11px;
    margin: auto;
    padding-bottom: 22px;

}

#smallContactBox .contactFields ul {
    background: url(../images/contact-bg.png);
    font-size: 11px;
    padding: 10px;
    width: 189px;
    margin: auto;
    margin-top: -5px;
    border-left: 1px solid #b7bec4;
    border-right: 1px solid #b7bec4;
}

#smallContactBox .contactFields ul li {
    clear: both;
    padding: 5px 0;
    list-style: none;
}

#smallContactBox .contactFields ul li span.label {
    float: left;
    width: 63px;
    line-height: 16px;
    color: #222;
    font-size: 11px;
}

#smallContactBox .contactFields ul li span.fields {
    float: left;
    /*width: 217px;*/
}

#smallContactBox .contactFields ul li.take {
    background: #ed942c;
    padding: 5px 7px;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 16px !important;
}

#smallContactBox .textboxArea {
    border: 2px solid #bfbfbf;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px 4px;
    width: 173px;
}

#smallContactBox .contactMeBtn {
    background: url("../images/send-mess.png") no-repeat 0 0;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    width: 129px;
    height: 29px;
    margin: auto 0 auto 22px;
    text-align: center
    /*margin-left: 17px;*/
}

#smallContactBox .textboxField1 {
    /*background: url("../images/inputField.png") no-repeat 0 0;*/
    border: 2px solid #bfbfbf;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px 4px;
    width: 173px;
}

/*Contact US CSS for Blogs page*/

#blogContactBox {
    float: right;
    width: 200px;
    background: #fff url(../images/topHeader-bg.png) no-repeat 0 0 !important;

}

#blogContactBox .contactHeading {
    background: none;
    height: 37px;
    clear: both;
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
    color: #fff !important;
    padding-left: 15px !important;
}

#blogContactBox .contactFields {
    background: url(../images/bottom.png) no-repeat center bottom;
    font-size: 11px;
    margin: auto;
    padding-bottom: 22px;

}

#blogContactBox .contactFields ul {
    background: url(../images/contact-bg.png);
    font-size: 11px;
    padding: 10px;
    width: 164px;
    margin: auto;
    margin-top: -5px;
    border-left: 1px solid #b7bec4;
    border-right: 1px solid #b7bec4;
}

#blogContactBox .contactFields ul li {
    clear: both;
    padding: 5px 0;
    list-style: none;
}

#blogContactBox .contactFields ul li span.label {
    float: left;
    width: 63px;
    line-height: 16px;
    color: #222;
    font-size: 11px;
}

#blogContactBox .contactFields ul li span.fields {
    float: left;
    /*width: 217px;*/
}

#blogContactBox .contactFields ul li.take {
    background: #ed942c;
    padding: 5px 7px;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 16px !important;
}

#blogContactBox .textboxArea {
    border: 2px solid #bfbfbf;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px 4px;
    width: 163px;
}

#blogContactBox .contactMeBtn {
    background: url("../images/send-mess.png") no-repeat 0 0;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    width: 129px;
    height: 29px;
    margin: auto;
    text-align: center
    /*margin-left: 17px;*/
}

#blogContactBox .textboxField1 {
    /*background: url("../images/inputField.png") no-repeat 0 0;*/
    border: 2px solid #bfbfbf;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px 4px;
    width: 163px;
}

